*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#111;
    color:#fff;
}

header{
    background:linear-gradient(135deg,#6a00ff,#ff0080);
    text-align:center;
    padding:50px 20px;
}

header h1{
    font-size:48px;
    margin-bottom:10px;
}

nav{
    background:#1c1c1c;
    text-align:center;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

nav a:hover{
    color:#ff0080;
}

.hero{
    text-align:center;
    padding:80px 20px;
}

.hero h2{
    font-size:40px;
    margin-bottom:20px;
}

.hero p{
    max-width:700px;
    margin:auto;
    margin-bottom:30px;
}

.btn{
    display:inline-block;
    background:#ff0080;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:8px;
}

.btn:hover{
    opacity:0.8;
}

section{
    padding:60px 20px;
}

section h2{
    text-align:center;
    margin-bottom:30px;
}

.cards{
    display:flex;
    gap:20px;
    justify-content:center;
    flex-wrap:wrap;
}

.card{
    background:#1c1c1c;
    width:350px;
    border-radius:10px;
    overflow:hidden;
}

.card img{
    width:100%;
}

.card h3{
    padding:15px;
}

.card p{
    padding:0 15px 15px;
}

footer{
    background:#000;
    text-align:center;
    padding:20px;
}